/* Standard fonts and colors */
/* PWG logo color is #4b5aa8, highlight is #b8c3ff, lowlight is #262d54 */

body {
  background-color: #fff;
  color: #000;
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  font-family: lucida grande, geneva, helvetica, arial, sans-serif;
}

.form-horizontal .control-label {
  padding-top: 0px;
}

h1.pwg-title {
  margin: 0px 0px 20px;
}

h1 small {
  font-style: italic;
}

h2 {
  border-bottom: 1px solid #ccccc0;
  font-size: 125%;
  font-weight: bold;
  padding-bottom: 10px;
}

h2 small {
  color: #666;
  font-size: 75%;
  font-style: italic;
  white-space: nowrap;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

h4 {
  font-size: 115%;
  font-weight: bold;
}

blockquote {
  background: #e0e0d8;
  border: dotted thin black;
  border-radius: 8px;
  color: black;
  font-size: 100%;
  font-style: italic;
  margin-left: 20px;
  padding: 10px;
  width: 90%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

blockquote a {
  font-style: normal;
}

hr {
  border: none;
  border-bottom: solid thin #303028;
}

sub, sup {
  font-size: 50%;
}

a.btn:hover {
  text-decoration: none;
}

table.grid {
  border-collapse: collapse;
  width: 100%;
}
table.grid td {
  border: thin solid #d0d0c8;
  padding: 20px;
  text-align: center;
  vertical-align: bottom;
  width: 50%;
}

.col-sm-10 {
  padding-left: 0px;
}
.col-sm-10.col-sm-offset-2 {
  padding-left: 15px;
}

a:link.btn-default {
  color: #000;
}

a:link.btn-primary {
  color: #fff;
}

.form-control {
  display: inline-block;
  height: auto;
  width: auto;
}

input[type="checkbox"] {
  height: 16px !important;
}

.pwg-logo {
  height: 190px;
  margin: -15px 15px 0px -10px; /* top right bottom left */
  width: 181px;
}

.pwg-right {
  float: right;
}

.panel-heading {
  font-weight: bold;
}

.pwg-alert-panel {
  border-left: 5px solid #4b5aa8;
  border-right: 5px solid #4b5aa8;
}

.pwg-alert-panel a {
  color: black;
}

.pwg-alert-panel a:hover  {
  color: #4b5aa8;
  text-decoration: none;
}

/* Some old site styles we are keeping around for now... */
#PWGInfo TD {
  padding-right: 10px;
  padding-bottom: 20px;
}

#PWGInfo H2 {
  margin: 0 0;
  padding: 0 0;
}

#PWGInfo P {
  margin: 0 0;
  padding: 5px 0;
}

TABLE.PWGList {
  border-bottom: solid thin #909078;
  border-collapse: collapse;
  border-top: solid thin #909078;
  margin: 0px;
  padding: 0px;
}

TABLE.PWGList TR:nth-child(even) {
  background: #f0f0e8;
}

TABLE.PWGList TR:nth-child(odd) {
  background: #e0e0d8;
}

TABLE.PWGList TD {
  margin: 0px;
  padding: 5px;
  vertical-align: top;
}

P.PWGHanging {
  text-indent: -2em;
  margin-left: 2em;
}

P.PWGList A {
  white-space: nowrap;
}

/* Appearance tweaks for navigation bar */
.pwg-navbar {
  background: rgba(24, 24, 20, 0.9);
  margin: 0px 0px;
}

.pwg-navbar .navbar-nav > li > a, .pwg-navbar .navbar-nav > li > a:visited {
  color: #ccccc0;
  font-size: 14px;
  padding: 0px 10px 15px;
}

#pwg-nav-collapsible {
  margin-top: 20px;
  padding-left: 0px;
}

/* Body content */
#pwg-body {
  margin: 0px;
  padding: 60px 0px 45px; /* top right+left bottom */
}

/* Logo colors are white, black, and #373e80 */
.pwg-panel-logo { width: 100%; }
.pwg-panel { font-size: 125%; padding: 80px 60px; }
.pwg-panel h1 { font-size: 250%; }
.pwg-note { font-size: 80%; font-style: italic; margin-bottom: 1em; margin-top: 1em; }
ul.nav-pills li { background: #525dbf; border-radius: 5px; color: #ffffff; font-size: 90%; margin-bottom: 5px; margin-right: 5px; }
ul.nav-pills li a { color: #ffffff; }
ul.nav-pills li a:hover { background: #8a8fbf; color: #ffffff; }
.pwg-table { font-size: 80%; margin-left: auto; margin-right: auto; width: 90%; }
.pwg-alt-0 { background: #e7eef1; color: #000000; }
.pwg-table-alt-0 { background: #f0f7fa; }
.pwg-alt-1 { background: #e6e8ff; color: #000000; }
.pwg-table-alt-1 { background: #f2f3ff; }
.pwg-alt-2 { background: #373e80; color: #ffffff; }
.pwg-table-alt-2 { background: #8a8fbf; }
caption { font-style: italic; font-weight: bold; margin: 10px; }
.pwg-figure { width: 100%; }

#pwg-content {
}

/* Footer */
#pwg-footer {
  background: rgba(24, 24, 20, 0.9);
  bottom: 0px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2) inset;
  clear: both;
  color: #cccccc;
  font-size: 10px;
  left: 0px;
  position: fixed;
  right: 0px;
}

#pwg-footer-body {
  padding: 10px;
}

#pwg-footer-body a {
  color: #ccccc0;
  text-decoration: underline;
}

/* iPhone/iPod touch overrides */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .pwg-navbar {
    position: relative;
  }

  ul.nav {
    margin-left: -5px;
  }

  #pwg-body {
    padding: 10px 10px 50px;
  }

  .pwg-panel { font-size: 100%; padding: 30px 20px; }
  .pwg-panel h1 { font-size: 200%; padding: 30px 20px; }

  #pwg-footer {
    margin: -50px 20px 0px 0px; /* top right bottom left */
    position: relative;
  }

  h1 {
    font-size: 150%;
  }

  h1.pwg-title small {
    display: none;
  }

  .jumbotron h1 {
    font-size: 18px;
  }

  .jumbotron p {
    font-size: 12px;
  }
}

/* iPad overrides */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* Print overrides */
@media print {
  /* Bootstrap adds URLs after every link, stop doing that... */
  a[href]:after {
    content: none !important;
  }

  /* and don't print any form controls, either */
  input {
    display: none;
  }
}
